* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Inter', sans-serif;
}

/* header style */
.page-header{
    display: flex;
    background:#000000;
    width: 100%;
    justify-content: center;
    padding: 28px;
}

.img-header{
    display: block;
}

/* banner style */
.main-banner-mobile{
    display: none;
}

.main-banner-desktop{
    width: 100%;
}

/* Infocard superior */
.infocard{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 490px;
    width: 100%;
}

.infocard-text{
    justify-content: center;
    justify-items: center;
    padding: 0px 62px;
}

.infocard-subtitle{
    font-weight: normal;
    font-size: 32px;
    text-transform: uppercase;
}

.infocard-title{
    font-weight: 500;
    font-size: 48px;
    text-transform: uppercase;
}

.infocard-description{
    padding-top: 8.5px;
    font-size: 16px;
    line-height: 24px;
    width: 766px;
    height: 56px;
}

.infocard-img{
    padding: 0 62px;

}

/* cards superiores */
.top-cards{
    background: #F0F0F0;
    display: grid;
    grid-template-columns: repeat(3, max-content);
    gap: 21px;
    justify-content: center;
    align-items: center;
    height: 435px;
}

.top-card{
    display: flex;
    flex-direction: column;
    width: 350px;
    height: 287px;
    background: #FFFFFF;
    box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.23);
    align-items: center;
    text-align: center;
    justify-content: center;
    padding: 35px 26px 27px;
}

.top-card-image{
    padding-bottom: 30px;
}

.top-card-text{
    line-height: 24px;
    width: 299px;
    height: 95px;
}

/* banner central */
.banner-central-mobile{
    display: none;
}

.banner-central-desktop{
    max-height: 520px;
    width: 100%;
}

/* cards inferiores */
.bottom-cards{
    position: relative;
    margin-top: 142px;
    background: linear-gradient(180deg, #00C8FF 0%, #15ACD6 100%);
    height: 750px;
}

.cards-inf{
    display: grid;
    grid-template-columns: repeat(2, max-content);
    gap: 20px;
    height: 750px;
    position: relative;
    justify-content: center;
    align-content: center;
    top: -95px;
}

.bottom-card{
    display: flex;
    flex-direction: column;
    width: 432px;
    height: 332px;
    background: #FFFFFF;
    box-shadow: 0px 4px 16px rgba(0, 0, 0, 0.15);
    align-items: center;
    text-align: center;
    padding: 35px 32px 65px;
}

.bottom-card-image{
    padding-bottom: 20px;
}

.bottom-card-text{
    line-height: 24px;
    width: 367px;
    height: 113px;
}

/* inforcad inferior */
.bottom-infocard{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 917px;
}

.bottom-infocard-img{
    max-width: 596px;
    padding: 20px;
}

.bottom-infocard-text{
    padding: 20px;
}

.bottom-infocard-title{
    font-weight: 600;
    font-size: 32px;
    line-height: 20px;
    padding-bottom: 18px;
}

.bottom-infocard-description{
    width: 550px;
    height: 120px;
    font-size: 16px;
    line-height: 24px;
}

/* rodape */
.footer{
    display: flex;
    flex-direction: column;
    background: #000000;
    justify-content: center;
    align-items: center;
    height: 128px;
    width: 100%;
}

.imagens-footer{
    width: 104px;
    justify-content: center;
    align-items: center;
}

.footer-text-mobile{
    display: none;
}

.footer-text-desktop{
    font-size: 10px;
    line-height: 12px;
    text-transform: uppercase;
    color: #BDBDBD;
    padding: 10px;
}


/* media query */
/* responsividade main banner */
@media screen and (max-width: 600px){
    .main-banner-mobile{
        display: block;
        width: 100%;
        max-height: 600px;
        object-fit: cover;
    }
    
    .main-banner-desktop{
        display: none;
    }
}

/* responsividade infocard */
@media screen and (max-width: 800px){
    .infocard{
        flex-direction: column;
        height: 732px;
    }
    
    .infocard-img{
        margin-top: 41px;
        height: 239px;
    }
}

@media screen and (max-width: 1168px){
    
    .infocard-text{
        height: 214px;
        padding: 0;
    }

    .infocard-subtitle{
        font-size: 20px;
    }
    
    .infocard-title{
        font-size: 28px;
    }
    
    .infocard-description{
        margin-top: 15px;
        padding: 0;
        width: 357px;
        height: 115px;
    }

}

@media screen and (min-width: 901px) and (max-width: 1332px){
    .infocard-text{
        padding: 0px 22px;
    }

    .infocard-img{
        padding: 0 22px;
    }
}

/* responsividade top-cards */
@media screen and (max-width: 750px){
    .top-cards{
        grid-template-columns: 1fr;
        gap: 16px;
        height: 966px;
        justify-items: center;
        padding: 37px 0 27px;
    }
}

@media screen and (min-width: 751px) and (max-width: 1120px){
    .top-cards{
        grid-template-columns: repeat(2, max-content);
        height: 666px;
        justify-items: center;
        padding: 37px 0 27px;
    }
}

/* responsividade banner central */
@media screen and (max-width: 750px){
    .banner-central-mobile{
        display: block;
        max-height: 555px;
        object-fit: cover;
        width: 100%;
    }
    
    .banner-central-desktop{
        display: none;
    }
}

/* responsividade cards inferiores */
@media screen and (max-width: 884px){
    .bottom-cards{
        position: relative;
        margin-top: 135px;
        background: linear-gradient(180deg, #00C8FF 0%, #15ACD6 100%);
        height: 1394px;
    }
    
    .cards-inf{
        display: grid;
        grid-template-columns: max-content;
        gap: 20px;
        align-content: center;
        justify-content: center;
        position: relative;
        top: 235px;
    }
    
    .bottom-card{
        width: 368px;
    }
    
    .bottom-card-image{
        padding-bottom: 20px;
    }
    
    .bottom-card-text{
        line-height: 14px;
        width: 302px;
    }
}

/* responsividade inforcad inferior */
@media screen and (max-width: 1205px){
    .bottom-infocard{
        flex-direction: column;
        height: 910px;
    }
    
    .bottom-infocard-img{
        width: 100%;
        padding: 0px;
    }
    
    .bottom-infocard-text{
        padding-top: 50px;
    }
    
    .bottom-infocard-title{
        font-size: 24px;
    }
    
    .bottom-infocard-description{
        width: 350px;
        height: 192px;
    }
}

@media screen and (min-width: 500px) and (max-width: 1205px){
    .bottom-infocard-img{
        max-width: 500px;
        padding: 0px;
    }
    
    .bottom-infocard-title{
        font-size: 32px;
    }
    
    .bottom-infocard-description{
        width: 550px;
        height: 120px;
        font-size: 16px;
    }
}

/* responsividade footer */
@media screen and (max-width: 800px){
    .footer-text-desktop{
        display: none;
    }

    .footer-text-mobile{
        display: block;
        text-align: center;
        font-size: 10px;
        line-height: 12px;
        text-transform: uppercase;
        color: #BDBDBD;
        padding: 10px;
    }
}